
.title {
	color: darkblue;
	font-family: 'Optima';
	font-size: 30px;
    	float: left;
}
.subtitle {
	color: black;
	font-weight: bold;
	font-family: 'Optima';
	font-size: 15x;	
}
p {
	font-family: 'Optima';
}
.street {
    stroke: gray;
    stroke-width: 1px;
    fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke: gray;
}

.axis text {
    font-family: arial;
    font-size: 10px;
    fill: gray;
}
